<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top py-3">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_Bélo.svg" height="30" alt="Logo" />
    </a>

    <!-- Toggler -->
    <button 
      class="navbar-toggler border-0" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNav" 
      aria-controls="navbarNav" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-center">
        <li class="nav-item mx-2">
          <a class="nav-link fw-semibold active" href="/listings">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link fw-semibold" href="/listings">All Listings</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link fw-semibold" href="/listings/new">Add Listing</a>
        </li>
      </ul>

      <div class="d-flex align-items-center justify-content-center gap-3">
        <a class="text-dark text-decoration-none fw-semibold d-none d-md-block" href="#">Become a host</a>
        <button class="btn btn-outline-secondary btn-sm rounded-circle p-2" title="Language">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16">
            <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-6.468 4.7c.5.07.933.164 1.308.268A13.978 13.978 0 0 1 8 3c1.36 0 2.68.2 3.828.566A7.002 7.002 0 0 0 8 1zM2.273 9.02a6.975 6.975 0 0 0 0 1.96c.437-.05.911-.093 1.412-.125a13.997 13.997 0 0 1-.713-1.436 13.89 13.89 0 0 1-.7-.4zm9.326 1.18c.215.529.38 1.094.48 1.676a7.027 7.027 0 0 0-1.45.49 13.995 13.995 0 0 1-.545-1.13c.53-.05 1.039-.11 1.515-.336zm-6.045 3.553a6.96 6.96 0 0 0 3.72-1.14 13.976 13.976 0 0 1-2.298-2.223c-.03.635-.045 1.278-.072 1.9-.024.507-.049 1.05-.068 1.463zm3.353-7.26a14.072 14.072 0 0 1 2.187 2.045 6.964 6.964 0 0 0-3.91 1.088 13.945 13.945 0 0 1 1.724-3.132z"/>
          </svg>
        </button>

        <!-- Dropdown -->
        <div class="dropdown">
          <button class="btn btn-light btn-sm border rounded" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-4a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-4a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11z"/>
            </svg>
          </button>
          <ul class="dropdown-menu dropdown-menu-end shadow">
            <% if(currentUser){ %>
              <li><a class="dropdown-item" href="/users/profile">My Profile</a></li>
              <li><a class="dropdown-item" href="/users/logout">Log out</a></li>
            <% } else { %>
              <li><a class="dropdown-item" href="/users/register">Sign up</a></li>
              <li><a class="dropdown-item" href="/users/login">Log in</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
